Operators :-
1. Arithematic
2. Assignment
3. Comparison
4. Logical
5. Identity
6. Member

1. Arithematic

In [10]:
num_1 = 20
num = 10
# addition
sum = num_1 + num
print("Sum is:",sum)

#Subtraction
diff = num_1-num
print("Difference is:", diff)

#Multiplication
pro = num_1 * num
print(pro)

# Division
div = num_1 / num
print(div)

# Exponent
exp = num_1 ** num
print(exp)

# Modulus

mod = num_1 % num
print(mod)

Sum is: 30
Difference is: 10
200
2.0
10240000000000
0

   2. Assignment:- 
 +=
 -=
 *=
 /=
 %=
 **=

In [15]:
a = 5
b=10
a+= 5
print(a)
b -= 2
print(b)

10
8

Comparison

In [19]:
a= 5
b= 10
print(a == b)
print(a!=b)
print(a>b)
print(a<=b)

False
True
False
True

    4.Logical
 and
 or
 not

In [25]:
a=10
print(a>20 or a >5)
print(a>20 and a >5)
print(not(a>5 and a>20))

True
False
True

    5.Identity
is
isnot

In [28]:
x=10
y=5
print(x is not y)

True

    6. MemberShip
in
not in

In [31]:
a =5
b=10
c = [1,2,3,4,5]

print(a  in c)
print(b  in c )

True
False